﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.EtapaIndexModel

@{
    ViewBag.Title = "Index";
    var x = 1;
    for (var i = 10; i > 0; i--)
    {
        x *= i;
    }
}

<div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Etapas</h3>
                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                  <tbody>
                      <tr>
                          <th style="width: 10px">#</th>
                          <th>Etapas</th>
                          <th>Duracion</th>
                          <th>Acciones</th>
                      </tr>
                      @foreach (var etapa in Model.Etapas)
                      {
                          <tr>
                              <td>@etapa.ID</td>
                              <td>@etapa.Nombre</td>
                              <td>@etapa.Duracion</td>
                              <td>
                                  <a href="/Etapas/Tecnologias/?idLinea=@Model.IDLinea&idEtapa=@etapa.ID" title="Tecnologias" class="btn btn-toolbar">
                                      <label class="label bg-gray"><i class="fa fa-edit"></i> Tecnologias</label>
                                  </a>
                                  <a href="/Etapas/edit/?idLinea=@Model.IDLinea&idProy=@Model.IDProy&idEtapa=@etapa.ID" title="Editar" class="btn btn-toolbar">
                                      <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                  </a>
                                  <a href="/Etapas/delete/?idLinea=@Model.IDLinea&idProy=@Model.IDProy&idEtapa=@etapa.ID" title="borrar" class="btn btn-toolbar">
                                      <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                  </a>
                              </td>
                          </tr>

                      }
                      <tr>
                          <td></td>
                          <td></td>
                          <td>
                              <a href="/Etapas/New/?id=@Model.IDProy" title="Nuevo" class="btn btn-toolbar">
                                  <label class="label bg-gray"><i class="fa fa-plus"></i> Nuevo</label>
                              </a>
                          </td>
                      </tr>
                  </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>
      <a href="/Proyectos/Index/@Model.IDLinea">Volver a lista de Proyectos</a>
@section Scripts{
    <script>
    </script>
}
