﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.NuevaEtapaTecnologiaModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nueva Tecnologia</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("NewTecno", "Etapas", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDLinea)
                @Html.HiddenFor(model => model.IDProy)
                @Html.HiddenFor(model => model.IDEtapa)
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Tecnologias, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select name="IDTecno" class="form-control col-md-2">
                            @foreach (var tecno in Model.Tecnologias)
                            {
                                <option value="@tecno.ID">@tecno.nombre</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="~/Etapa/Index/?idProy=@Model.IDProy" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });

    </script>

}
