﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Categoria</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/Categorias/Index"><i class="fa fa-group"></i> <span>Categoria</span></a></li>
    <li><a href="/Conocimiento/Index"><i class="fa fa-lightbulb-o"></i> <span>Conocimientos</span></a></li>
    @*<li><a href="/Asesor/Index"><i class="fa fa-laptop"></i> <span>Asesores</span></a></li>*@
</ul>
</ul>
